html,
body {
    height: 100%;
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.header-top {
    background-color: #333;
    color: aliceblue;
    height: 5vh;
    font-size: small;
}

.rrss {
    padding: 0.3rem;
}

.navbar {
    background: linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);
    height: 100%;
    color: aliceblue;
    font-weight: bolder;
}

.content {
    flex: 1;
}

.index-categorias {
    background-color: hsla(216, 41%, 79%, 1);
    padding: 24rem 0rem 24rem 0rem;
}

.contenedor-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.circle {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: url(https://i.ibb.co/bsHjPpV/Blue-Retro-8bit-Video-Game-Phone-Wallpaper.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.inner-cirle {
    border: none;
}

.index-novedades {
    padding: 6rem 0rem 12rem 0rem;
}

.text-novedades {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 3rem;

}

.btn-agregar {
    display: flex;
    justify-content: end;
}

.btn-vaciar {
    display: flex;
    justify-content: center;
}

.text-total {
    text-align: start;
}

.imgCover {
    width: 30%;
}

th {
    text-align: center;
}



/* PÁGINA VIDEOJUEGOS */

.card {
    height: 100%;
}

.card .card img {
    object-fit: cover;
    width: 260px;
}

.card-custom .card-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.card-custom .card-wrapper .card-content {
    padding: 1rem;
}

.card-custom .card-wrapper .card-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


/* PÁGINA CONÓCENOS */

.container-conocenos {
    background-color: rgba(142, 8, 164, 0.3);
    margin-bottom: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    color: #333;
    font-weight: bolder;
    font-size: larger;
}

.conocenos-text {
    font-size: medium;
    font-weight: 100;
}

.location-map {
    border: 1px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
}


/* FOOTER */

footer {
    background: linear-gradient(90deg, hsla(260, 28%, 53%, 1) 0%, hsla(170, 42%, 71%, 1) 100%);
    color: #333;
    font-size: 14px;
    font-weight: bolder;
    padding: 20px;
    height: auto;
}

footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}